* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #212529;
}

.parentcontainer {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #212529;
}

#line {
    background-color: #F8DF8B;
    min-height: 15px;
}

.top {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 9.5px;
}

.reservation {
    justify-content: flex-start;
    width: 50%;
}

.reservation a {
    text-decoration: none;
    color: white;
}

.reservation a:hover {
    color: #F8DF8B;
}

.socmed {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.socmed a {
    width: 20px;
    height: 20px;
    margin: 5px;
    color: #F8DF8B;
}

.drpdwn:hover .dropdown-content {
    display: block
}

.dividercolor {
    background-color: #F8DF8B;
}

.search {
    width: 250px;
    height: 30px;
}

.topsearch {
    align-items: center;
}

.homeimages img {
    height: 500px;
}

.button {
    border: none;
    border-radius: 4px;
    width: 100px;
    transition-duration: 0.4s;
    border: 2px solid #555151;
    background-color: gray;
}

.button:hover {
    color: #F8DF8B;
    border: 2px solid #F8DF8B;
}

.nav a:hover {
    color: #F8DF8B;
}

.logo {
    max-width: 50%;
}

.logo img {
    width: 100%;
    height: 100px;
}

.parentContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    margin-bottom: 5%;
}

#headerh1 {
    text-align: center;
    color: #F8DF8B;
    font-family: papyrus;
    padding: 10px;
}

.welcome {
    width: 80%;
}

.welcomeimg {
    justify-content: center;
}

.subsbox {
    display: flex;
    align-self: center;
    margin: 50px;
    width: 100%;
}

.formbox {
    background-color: #F8DF8B;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
}

.formbox .row {
    width: 90%;
}

.formbox input[type="text"] {
    width: 100%;
}

/* .formbox input[type=submit] {
    /* width: 30%; */

.view-heightPar {
    font-size: 5vh;
}

.aboutusIntro {
    color: #F8DF8B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.locHeader {
    width: 600px;
}

.firstLocationImg img {
    width: 100%;
    height: 300px;
}

.khiraImg img {
    width: 100%;
    height: 700px;
}

.petsec {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.petsecP {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.locationsP {
    color: #F8DF8B;
    /* margin-left: 15px; */
}

.locations li {
    color: #F8DF8B;
    margin-top: 50px;
}

.subscribe-btn {
    margin: auto auto;
    display: block;
    margin-top: 5px;
}

.subsbox .sub-input {
    width: 100%;
}

.sub-input input[type="text"] {
    width: 50% !important;
    display: block;
    margin: auto;
}

.contactInfo {
    color: #f8df8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f8df8b;
    border-radius: 5px;
    width: 200px;
    padding-top: 10px;
    margin: 50px;
    text-align: center;
}

.contactInfo a {
    color: #f8df8b;
}

.socmedBox {
    gap: 5px;
}

.sendMessage table input[type="text"] {
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}

.sendMessage table input[type="submit"] {
    background-color: gray;
    color: #f8df8b;
    border: none;
    border-radius: 5px;
    height: 35px;
}

.FAQpr {
    color: #F8DF8B;
    text-align: center;
    margin-bottom: 15px;
}

.header-bg-img {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1518832553480-cd0e625ed3e6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80&fbclid=IwAR01nzAEKVBPA0mrPtTiEiZS0QX6goTWVwMgVHPKG7IZyrn_eytfLnpkpww);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    width: 100%;
}

#header-h1-menu {
    font-size: 11vh;
    color: #212529;
    font-family: papyrus;
    padding: 10px;
    text-shadow: 2px 2px rgb(248, 223, 139);
}

.wrapper {
    /* max-width: 24%; */
    display: flex;
    flex-direction: column;
    height: inherit;
    border: 1px solid #f8df8b;
    margin-top: 10px;
    color: #f8df8b;
}

.wrapper p {
    margin-top: 10px;
    text-align: center;
    font-size: 2.5vh;
}

.wrapper img {
    width: 100%;
    height: 250px;
}

.motovlog-intro {
    color: #F8DF8B;
    text-align: center;
}

.footer {
    background-color: #F8DF8B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #backtop {
    align-content: flex-start;
} */

#backtop a {
    color: black;
}

.footerp {
    margin: 40px;
}

.footerimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 300px;
    height: 70px;
}

.since {
    font-size: x-small;
    padding-left: 240px;
}

.formbox textarea {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .sendMessage table {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {   
    .khiraImg {
        display: flex;
        justify-content: center;
    }

    .khiraImg img {
        width: 80%;
    }
    
    .footerimg {
        margin-bottom: 25px;
    }
}
