* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #212529;
}

.parentcontainer {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #212529;
}

#line {
    background-color: #F8DF8B;
    min-height: 15px;
}

.top {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 9.5px;
}

.reservation {
    justify-content: flex-start;
    width: 50%;
}

.reservation a {
    text-decoration: none;
    color: white;
}

.reservation a:hover {
    color: #F8DF8B;
}

.socmed {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.socmed a {
    width: 20px;
    height: 20px;
    margin: 5px;
    color: #F8DF8B;
}

.drpdwn:hover .dropdown-content {
    display: block
}

.dividercolor {
    background-color: #F8DF8B;
}

.search {
    width: 250px;
    height: 30px;
}

.topsearch {
    align-items: center;
}

.homeimages img {
    height: 500px;
}

.button {
    border: none;
    border-radius: 4px;
    width: 100px;
    transition-duration: 0.4s;
    border: 2px solid #555151;
    background-color: gray;
}

.button:hover {
    color: #F8DF8B;
    border: 2px solid #F8DF8B;
}

.nav a:hover {
    color: #F8DF8B;
}

.logo img {
    width: 300px;
    height: 100px;
}

.parentContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#headerh1 {
    text-align: center;
    color: #F8DF8B;
    font-family: papyrus;
    padding: 10px;
}

.welcome {
    width: 80%;
}

.welcomeimg {
    justify-content: center;
}

.subsbox {
    margin: 50px;
}

.formbox {
    background-color: #F8DF8B;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
}

.aboutusIntro {
    color: #F8DF8B;
    padding-top: 30px;
    padding-bottom: 30px;
}

.locHeader {
    width: 600px;
}

.firstLocationImg img {
    width: 845px;
    height: 300px;
}

.khiraImg img {
    width: 400px;
    height: 700px;
}

.petsec {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.petsecP {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.locationsP {
    color: #F8DF8B;
    /* margin-left: 15px; */
}

.locations li {
    color: #F8DF8B;
    margin-top: 50px;
}

.contactInfo {
    color: #f8df8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f8df8b;
    border-radius: 5px;
    width: 200px;
    padding-top: 10px;
    margin: 50px;
    text-align: center;
}

.contactInfo a {
    color: #f8df8b;
}

.socmedBox {
    gap: 5px;
}

.sendMessage table input[type="text"] {
    width: 300px;
    border-radius: 5px;
    border: 1px solid black;
}

.sendMessage table input[type="submit"] {
    background-color: #555151;
    color: #f8df8b;
    border: none;
    border-radius: 5px;
    height: 35px;
}

.footer {
    background-color: #F8DF8B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
}

#backtop {
    align-content: flex-start;
}

#backtop a {
    color: black;
}

.footerp {
    margin: 40px;
}

.footerimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img {
    width: 300px;
    height: 70px;
}

.since {
    font-size: x-small;
    padding-left: 240px;
}
